// Buttons
//
// Style guide: GDTS.Buttons

// Primary Button
//
// Markup: <button class="primary">Primary Button</button>
//
// Style guide: GDTS.Buttons.Primary
button .primary {
  font-family: "Glen-Dimplex-Heavy";
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(0, 0, 0, 1.0);
}

// Primary Button: hover
//
// Markup: <button class="primary">Primary Button</button>
//
// Style guide: GDTS.Buttons.Primary.Hover
button .primary :hover {
  background-color: rgba(0, 0, 0, 0.7);
}

// Secondary Button
//
// Markup: <button class="secondary">Secondary Button</button>
//
// Style guide: GDTS.Buttons.Secondary
button .secondary {
  font-family: "Glen-Dimplex-Heavy";
  color: rgba(0, 0, 0, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
  border 1pt solid rgba(0, 0, 0, 1.0);
}

// Secondary Button: hover
//
// Markup: <button class="secondary">Secondary Button</button>
//
// Style guide: GDTS.Buttons.Secondary.Hover
button .secondary :hover {
  color: rgba(0, 0, 0, 0.7);
}
