// Links
//
// Style guide: GDTS.Links
a, a:active, a:hover {
  color: inherit;
}

// Textlink 1
//
// Markup: <a href="#" class="text-link-1">Textlink 1</a>
//
// Style guide: GDTS.Links.Textlink1
.text-link-1 {
  font-weight: bold;
  text-decoration: none;
}

.text-link-1:hover,
.text-link-1:active {
  text-decoration: none;
}

// Textlink 2
//
// Markup: <a href="#" class="text-link-2">Textlink 2</a>
//
// Style guide: GDTS.Links.Textlink2
.text-link-2 {
  font-weight: 200;
  text-decoration: underline;
}

// Arrowlink
//
// Markup: <a href="#" class="arrow-link">Arrow Link</a>
//
// Style guide: GDTS.Links.Arrowlink
.arrow-link {
  font-weight: bold;
  text-decoration: none;
  color: rgba(0, 0, 0, 1.0);
}

.arrow-link:hover,
.arrow-link:active {
  text-decoration: none;
}

.arrow-link:active {
  // TODO: Make arrow appear on left side
}
