// Typography
//
// Type formatting
//
// Style guide: GDTS.Typography

// General Typography
//
// Markup: kss-markup/typography.html
//
// Style guide: GDTS.Typography.P
p {
  font-family: "Glen-Dimplex-Sans-Light";
  font-size: 16pt;
  line-height: 24pt;
}

// Bold or Strong Text Elements
//
// Markup: <strong>Lorem Ipsum</strong>
//
// Style guide: GDTS.Typography.P.Strong
p strong {
  font-weight: bold;
}
