.kss-header {
  position: fixed;
  z-index: 10;
}

.kss-search {
    height: 50%;
    background: url(GDTS_Lupe_w.svg) no-repeat right 100%;
}

.kss-search-results {
    position: fixed;
    display: none;
    top: 100px;
    right: 0px;
    height: 400px;
    width: 400px;
    background: rgba(127, 127, 127, 0.95);
    z-index: 10;
    flex-direction: column;
    overflow: scroll;
    padding: 2%;
}

.kss-anchor {
    display: block;
    position: relative;
    top: -125px;
    visibility: hidden;
}

section {
  margin-bottom: 3.5%;
  padding-bottom: 4.5%;
  border-bottom: 1px solid #ccc;
}

.kss-color-example .full-height {
  height: 16vw;
}

.kss-color-example .half-height {
  height: 8vw;
}

.kss-color-example__white {
  border: 1px solid grey;
}

.kss-grid-example {
  background-color: grey;
}

.kss-grid-example .col-1,
.kss-grid-example .col-4,
.kss-grid-example .col-6,
.kss-grid-example .col-8,
.kss-grid-example .col-12 {
  border: 1px solid grey;
  background-color: lightgrey;
  padding: 2%;
}

.kss-cards-example {
  display: flex;
}

 .kss-markup {
    margin: 24px 0;
}

 .pln {
    color: #000
}

 .str {
    color: #080
}

 .kwd {
    color: #008
}

 .com {
    color: #800
}

 .typ {
    color: #606
}

 .lit {
    color: #066
}

 .pun,
 .opn,
 .clo {
    color: #660
}

 .tag {
    color: #008
}

 .atn {
    color: #606
}

 .atv {
    color: #080
}

 .dec,
 .var {
    color: #606
}

 .fun {
    color: red
}

 ol.linenums {
    margin: 0;
    padding: 0 0 3px 0;
    list-style-type: none
}

 ol.linenums li {
    min-height: 24px;
    padding: 0 10px;
    background: #fff
}

 ol.linenums li:first-child {
    padding-top: 3px
}

 ol.linenums li.L0,
 ol.linenums li.L2,
 ol.linenums li.L4,
 ol.linenums li.L6,
 ol.linenums li.L8 {
    background: #fcfcfc
}
